/* Add font familly */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Body section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Section */

/* color */
.dark-light {
  color: #3A3A3A;
}

/* Header section style */

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 67px;
  padding: 0 15px;
}

.logo-section {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a,
.navbar ul li i {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

/* Hero section style */

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;
}

.heros-titale {
  margin-top: 140px;
  width: 580px;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-description {
  font-weight: 600;
  margin-bottom: 16px;
}

.btn-primary {
  padding: 10px 25px;
  background-color: #E02C6D;
  border: none;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.heros-img {
  margin-top: 80px;
}

.heros-img img {
  background: url(../images/Circle.svg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  height: 475px;
  width: 475px;
}

/* sponsor section style */
.sponsor-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid rgba(192, 204, 218, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
}

.sponsor {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  cursor: pointer;
}

.sponsor img {
  max-width: 100%;
}

/* Colleaction section */

.collection-container {
  max-width: 1100px;
  margin: 0 auto;
}

.collection-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 330px;
  height: 475px;
  border: 1px solid whitesmoke;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;


}

.card img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 300px;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 18px;
  margin-bottom: 7px;
}

.price {
  font-size: 1.5rem;
  margin-left: 18px;
  margin-bottom: 7px
}

.icons {
  color: #FB8200;
  margin-left: 18px;
}

.reating {
  color: black;
}

.card-description {
  width: 196px;
  margin-left: 18px;
  margin-top: 7px;
  font-weight: 700;
}

.see-more-section {
  text-align: end;
  margin: 20px;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #E02C6D;
  border: none;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/*  <!-- products at one place section style--> */
.products-at-place {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
}

.products-title-text {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-description {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6C6C6C;
  width: 550px;
}

.products-title .btn-primary {
  border-radius: 0;
}

/* footer section style */

.footer {
  background-color: #0A0826;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-align: center;
  padding: 50px 15px;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 1rem;
  font-weight: 700;
  color: #D9DBE1;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* responsive */

@media screen and (max-width: 576px) {

  .header,
  .navbar ul,
  .hero-container,
  .products-at-place {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header {
    padding: 30px;
  }

  .navbar ul {
    margin-top: 20px;
    gap: 10px;
  }

  .hero-container {
    flex-direction: column-reverse;
  }

  .heros-titale {
    margin-top: 30px;
  }

  .hero-title {
    width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 2.5rem;
    margin-bottom: 16px;
  }

  .hero-description {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .heros-img {
    margin-top: 10px;
  }

  .heros-img img {
    height: 300px;
    width: 300px;
  }

  .sponsor-container {
    margin-bottom: 50px;
  }

  .sponsor {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
  }

  .sponsor img {
    max-width: 70px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }


  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 15px;
    justify-items: center;
    align-items: center;
  }

  .see-more-section {
    text-align: center;
    margin: 20px 0;
  }

  .products-at-place {
    padding: 20px;
    gap: 20px;
  }

  .products-title-text {
    width: 400px;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .products-description {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}